div.card {
  width: 300px;
  padding:10px;
  min-height:300px;
  background:lightgrey;
  float: left;
  margin:2px;
}

#what

div.booster {
  clear:both;
}

p.name { float:left; width:50%; }
p.type { float:left; width:50%; }
p.rarity { text-align:right; float:right; width:50%; }
p.cost { text-align:right; float:right; width:50%; }
