
body {
background: image-url('grey.png') repeat;

}

div.card {
  width: 265px;
  height:370px;
  padding:10px;
  background:lightgrey;
  float: left;
  margin:2px;
  border: 1px solid black;
  position:relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


.sub_head {
  font-weight: bold;
}


div.color_1 {
  background-color: white;
}
div.color_2 {
  background-color: #69A1F9;
}
div.color_3 {
  background-color: #212121;
  color: white;
}
div.color_4 {
  background-color: #FF4238;
}
div.color_5 {
  background-color: #4CE346;
}
div.color_6 {
  background-color: #F2CE2C;
}
div.color_7 {
}
div.color_8 {
  background-color: #DB8732;
}
div.booster {
  clear:both;
}

footer > p {
padding-top: 20px;
text-align: center;
}
.type_row {
  clear:both;
  padding: 5% 0 15% 0;
}
p.pt {position: absolute; bottom:0; right:0; padding-right:5%;}
p.name { float:left; width:inherit; }
p.type { float:left; width:inherit; }
p.rarity { text-align:right; float:right; width:inherit; }
p.cost { text-align:right; float:right; width:inherit; }

.login_form {margin: 0, auto;}
